{% extends 'base.html' %}
{% include 'navbar.html' %}
{% block title %} Registrar {% endblock %}


{% block body %} 
<div class="container">
    <div class="col-md-10 offset-md-1 mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Emprego CRUD</h1>
            <hr class="my-4">
                <form action="" method="post" autocomplete="off">
                    <div class="row">
                        <div class="col-md-4">
                            <p></p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <p>EAE</p>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <button type="submit" class="btn btn-success btn-block btn-lg" style="margin-top: 20px">Confirmar<i class="fas fa-database"></i></button>
                        </div>
                        <div class="col-md-4">
                            <a href="#" class="btn btn-secondary btn-block btn-lg" style="margin: 20px 0 0 0">
                                <i class="fas fa-stream"></i>
                                Voltar para Lista
                            </a>
                        </div>

                    </div>
                </form>
          </div>
    </div>
</div>
{% endblock %}