{% extends 'base.html' %}
{% include 'navbar.html' %}
{% block title %} Bem-vindo {% endblock %}


{% block body %} 
<h1 class="mt-5" style="text-align:center;">Tabela de Alunos</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 d-flex justify-content-end mt-lg-5">
        <a href="{{url_for('registrar')}}" class="btn btn-outline-success m col-auto" style="margin-right: 15%;">
            <i class="fas fa-plus"></i>Novo Registro
        </a>
     
    </div>
  </div>
</div>
<div style="margin: 0 10% 0 10%">
    <div class="mt-xl-5 ">
    <table class="table table-sm table-dark" style="padding: 0 25% 0 25%">
        <thead>
            <tr>
                <th scop="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Ra</th>
                <th scope="col">Cursando/Ano</th>
                <th scope="col">Data de Nascimento</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for school in schools %}
            <tr>
                <th scope="row">{{school.id_student}}</th>
                <td><a href="/{{school.id_student}}" style="text-decoration: none; color:inherit;">{{school.name}}</a></td>
                <td>{{school.ra}}</td>
                <td>{{school.year_school}}</td>
                <td>{{school.age}}</td>
                <td>
                    <a href="/{{school.id_student}}/update" class="btn text-secondary px-0">
                        Editar
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                </td>
                <td>
                    <form action="{{url_for('delete', id=school.id_student)}}" method="POST">
                        <button type="submit" class="btn text-secondary px-0">
                                    Deletar
                                <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                            </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
</div>
{% endblock %}